<form action="/favourites-list" method="post">
  <input type="hidden" name="houseId" value="<%= house._id%>" />
  <input
    type="submit"
    value="Add to Favourites"
    class="bg-red-500 text-white py-2 mt-1 px-4 rounded-lg hover:bg-red-600 transition-colors duration-300 font-medium"
  />
</form>
